section{
    border: 2px solid black;
    padding: 1em 2em;
    margin-bottom: 2em;
}

p{
    border: 1px solid black;
    padding: 1em;
}

.block{
    display: block;
}

.inline{
    display: inline;
}

.inline-block{
    display: inline-block;
}

.p_block{
    display: block;
}

.p_inline{
    display: inline;
}

.p_inline_block{
    display: inline-block;
}