div{
    margin: 20px;
    padding: 20px;
    border: solid;
}

.f_arial{
    font-family: Arial, sans-serif;
}

.f_size{
    font-size: 24px;
}

.f_weight{
    font-weight: bold;
}

.f_italic{
    font-style: italic;
}

.f_variant{
    font-variant: small-caps;
}